<!-- Badges -->
<section id="badges">
  <section id="badges-left">
    <div class="box" id="badges-recent-box">
      <div class="box-content">
         <h3>Recent Badges</h3>
         <div class="view-more">View More</div>
      </div>
      <div class="box-rows">
      	<div class="box-row">
      		<div class="badge" id="badge2"></div>
         	<div class="badge-text"> Meet your first weight goal </div>
			</div>      
      	<div class="box-row">
      		<div class="badge" id="badge3"></div>
         	<div class="badge-text"> Complete a group exercise </div>
      	</div>
      	<div class="box-row">
      		<div class="badge" id="badge4"></div>
         	<div class="badge-text"> Complete a strength exercise </div>
      	</div>
      </div>
    </div>
  </section>

  <section id="badges-center">
    <div class="box" id="badges-upcoming-box">
      <div class="box-content">
         <h3>Upcoming Badges</h3>
         <div class="view-more">View More</div>
      </div>
      <div class="box-rows">
      	<div class="box-row">
      		<div class="badge" id="badge5"></div>
         	<div class="badge-text"> Meet your third weight goal </div>
         </div>
      	<div class="box-row">
      		<div class="badge" id="badge6"></div>
         	<div class="badge-text"> Swim a mile </div>
      	</div>
      	<div class="box-row">
      		<div class="badge" id="badge7"></div>
         	<div class="badge-text"> Complete 10 strength exercise </div>
      	</div>
      </div>
   </div>
  </section>

  <section id="badges-right">
    <div class="box" id="badges-all-box">
    	<div class="box-content">
      	<h3>All Badges</h3>
      	<div class="view-more">View More</div>
		</div>
		<div class="box-rows">
			<div class="box-row">
      		<div class="badge" id="badge2"></div>
         	<div class="badge-text"> Meet your first weight goal </div>
      	</div>
      	<div class="box-row">
      		<div class="badge" id="badge5"></div>
         	<div class="badge-text"> Meet your third weight goal </div>
      	</div>
      	<div class="box-row">
      		<div class="badge" id="badge5"></div>
         	<div class="badge-text"> Meet your tenth weight goal </div>
      	</div>
      </div>    
    </div>
  </section>
</section>