<!-- Badges -->
<section id="badges">
  <section id="badges-left">
    <div class="box" id="badges-recent-box">
      <div class="box-content">
         <h3>Recent Badges</h3>
      </div>
    </div>
  </section>

  <section id="badges-center">
    <div class="box" id="badges-upcoming-box">
      <div class="box-content">
         <h3>Upcoming Badges</h3>
      </div>
   </div>
  </section>

  <section id="badges-right">
    <div class="box" id="badges-all-box">
    	<div class="box-content">
      	<h3>All Badges</h3>
		</div>    
    </div>
  </section>
</section>