<!-- Exercise -->
<section id="exercise">
  <section id="exercise-left">
    <div class="box box-content" id="exercise-list-box">
      <h3>Exercise List</h3>
      <div class="icon plus-icon"></div>
      <div class="select-container" id="exercise-select">
        <select>
          <option value="all">All</option>
        </select>
        <div class="icon arrow-down-icon"></div>
      </div>

      <table>
        <tr>
          <th>
            <span>
              Type
              <span class="filter-arrow"></span>
            </span>
          </th>
          <th>
            <span>Category</span>
          </th>
          <th>
            <span>Actions</span>
          </th>
        </tr>
        <tr>
          <td>Curls (100 lb)</td>
          <td>Strength</td>
          <td>
            <div class="icon pen-icon"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
        <tr>
          <td>Pushups</td>
          <td>Strength</td>
          <td>
            <div class="icon pen-icon no-attachment"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
        <tr>
          <td>Running</td>
          <td>Cardio</td>
          <td>
            <div class="icon pen-icon no-attachment"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
        <tr>
          <td>Yoga</td>
          <td>Group</td>
          <td>
            <div class="icon pen-icon"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <section id="exercise-right">
    <div class="box box-content" id="exercise-overview-box">
      <h3>Overview</h3>
      <div id="exercise-graph"></div>
      <div class="select-container">
        <select>
          <option value="week">This Week</option>
          <option value="month">This Month</option>
          <option value="year">This Year</option>
        </select>
        <div class="icon arrow-down-icon"></div>
      </div>
    </div>
  </section>
</section>