<!-- History -->
<section id="history">
  <section id="history-left">
    <div class="box" id="history-exercise-box">
      <h3>Exercise History</h3>
      <div class="select-container">
        <select>
          <option value="all">All</option>
          <option value="notes">Notes</option>
          <option value="body-weight">Body Weight</option>
          <option value="cardio">Cardio</option>
          <option value="group">Group</option>
          <option value="strength">Strength</option>
        </select>
        <div class="icon arrow-down-icon"></div>
      </div>
      <table>
        <tr>
          <th>Type</th>
          <th>Category</th>
          <th>Date Completed</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>Pushups</td>
          <td>Body Weight</td>
          <td>3/15/14</td>
          <td>
            <div class="icon pen-icon no-attachment"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
        <tr>
          <td>Running</td>
          <td>Cardio</td>
          <td>3/14/14</td>
          <td>
            <div class="icon pen-icon no-attachment"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
        <tr>
          <td>Yoga</td>
          <td>Group</td>
          <td>3/14/14</td>
          <td>
            <div class="icon pen-icon"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
        <tr>
          <td>Curls</td>
          <td>Strength</td>
          <td>3/13/14</td>
          <td>
            <div class="icon pen-icon"></div>
            <div class="icon cancel-icon"></div>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <section id="history-right">
    <div class="box" id="history-goal-box">
      <h3>Goal History</h3>
      <div class="box-base">
        <div id="weight-badge"></div>
        <div id="goal-info">
          <h3>145 lbs</h3>
          3/13/14
        </div>
      </div>
    </div>
  </section>
</section>