<!-- History -->
<section id="history">
  <section id="history-left">
    <div class="box" id="history-exercise-box">
      <h3>Exercise History</h3>
      <div class="select-container">
        <select>
          <option value="all">All</option>
          <option value="notes">Notes</option>
          <option value="body-weight">Body Weight</option>
          <option value="cardio">Cardio</option>
          <option value="group">Group</option>
          <option value="strength">Strength</option>
        </select>
        <div class="icon arrow-down-icon"></div>
      </div>
      <table>
        <tr>
          <th>Type</th>
          <th>Category</th>
          <th>Date Completed</th>
          <th>Actions</th>
        </tr>
      </table>
    </div>
  </section>
  <section id="history-right">
    <div class="box" id="history-goal-box">
      <h3>Goal List</h3>
    </div>
  </section>
</section>