<!-- Weight -->
<section id="weight">
  <section id="weight-left">
    <div class="box" id="weight-goal-box">
      <h3>Current Goal</h3>
      <div class="icon plus-icon" id="add-weight-goal"></div>
      <div id="weight-current-goal">
        135 lbs by 3/20/13
      </div>
    </div>
    <div class="box" id="weight-new-box">
      <h3>New Weight</h3>
      <div id="enter-weight">Enter a new weight:</div>
      <div class="input" id="weight-input">
        Weight (lbs)
      </div>
      <div class="input" id="date-input">
        Weight (lbs)
      </div>
      <div class="input" id="time-input">
        Weight (lbs)
      </div>
      <div class="button" id="weight-submit">
        Submit
      </div>
    </div>
  </section>
  <section id="weight-right">
    <div class="box" id="weight-progress-box">
      <h3>Progress</h3>
      <div id="weight-graph"></div>
      <div id="graph-range-info">
        Range:
      </div>
      <div class="input" id="graph-range-size">
      </div>
      <div class="input" id="graph-range-begin">
      </div>
      <div class="input" id="graph-range-end">
      </div>
    </div>
  </section>
</section>