<!-- Weight -->
<section id="weight">
  <section id="weight-left">
    <div class="box box-content" id="weight-goal-box">
      <h3>Current Goal</h3>
      <div class="icon plus-icon"></div>
      <div class="box-text">135 lbs by 3/20/13</div>
    </div>
    <div class="box box-content">
      <h3>New Weight</h3>
      <div class="box-text">Enter a new weight:</div>
      <input type="text" placeholder="Weight (lbs)"></input>
      <input type="text" placeholder="Date"></input>
      <input type="text" placeholder="Time"></input>
      <button type="submit">Submit</button>
    </div>
  </section>
  
  <section id="weight-right">
    <div class="box box-content" id="weight-progress-box">
      <h3>Progress</h3>
      <canvas id="weight-graph" width="700" height="300"></canvas>
      <div class="box-text" id="graph-range-info">
        Range:
      </div>
      <div class="select-container">
        <select>
          <option value="week">This Week</option>
          <option value="month">This Month</option>
          <option value="year">This Year</option>
        </select>
        <div class="icon arrow-down-icon"></div>
      </div>
      <input class="input" type="text" value="3/9/14"></input>
      <input class="input" type="text" value="3/14/14"></input>
    </div>
  </section>
</section>