<!-- Weight -->
<section id="weight">
  <section id="weight-left">
    <div class="box" id="weight-goal-box">
      <h3>Current Goal</h3>
      <div class="icon plus-icon" id="add-weight-goal"></div>
      <div id="weight-current-goal">
        135 lbs by 3/20/13
      </div>
    </div>
    <div class="box" id="weight-new-box">
      <h3>New Weight</h3>
      <div id="enter-weight">Enter a new weight:</div>
      <div class="base input" id="weight-input">
        Weight (lbs)
      </div>
    </div>
  </section>
  <section id="weight-right">
    <div class="box" id="weight-progress-box">
      <h3>Progress</h3>
    </div>
  </section>
</section>