/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/         => Sass extends declarations
 * /mixins/          => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss       => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss     => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _module_name.scss => Styles for a module of functionality (e.g. – modal).
 * _page_name.scss   => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

 body {
  background-color: $background-color;
 }

// Header
///////////////////////////////////////////////////////////////////////////////
header {
  height: 80px;
  background-color: $base-color;
  box-shadow: $base-shadow;
}
.header-container {
  @include outer-container;
  color: $foreground-color;
  h1 {
    @include position(relative, -8px 0 0 0);
    display: inline-block;
    margin: 0 0 0 10px;
    letter-spacing: 0.1em;
  }
}
#logo-container {
  @include span-columns(6);
}
#logo {
  @include retina-image('../img/logo', 86px 82px);
  @include size(43px 41px);
  display: inline-block;
  margin-top: 20px;
  background-size: 43px 41px;
}
#account-container {
  @include span-columns(3);
  @include shift(3);
  float: right;
  cursor: pointer;
  span {
    @include position(relative, -12px 0 0 0);
    margin-left: 10px;
  }
}
#avatar {
  @include retina-image('../img/avatar', 76px 76px);
  @include size(39px 39px);
  display: inline-block;
  margin-top: 20px;
  background-size: 39px 39px;
}
.cog-icon {
  @include position(relative, -7px 0 0 0);
  @include transition(color 0.25s ease-in);
  display: inline-block;
  margin-left: 10px;
  font-size: 1.5em;
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}

// Navigation
///////////////////////////////////////////////////////////////////////////////


// Footer
///////////////////////////////////////////////////////////////////////////////

