@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'vigor';
  src:url('../fonts/vigor.eot?-xsvpxb');
  src:url('../fonts/vigor.eot?#iefix-xsvpxb') format('embedded-opentype'),
    url('../fonts/vigor.woff?-xsvpxb') format('woff'),
    url('../fonts/vigor.ttf?-xsvpxb') format('truetype'),
    url('../fonts/vigor.svg?-xsvpxb#vigor') format('svg');
}

.icon {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'vigor';
  line-height: 1;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sun-icon:before {
  content: "\e601";
}
.calendar-icon:before {
  content: "\e600";
}
.plus-icon:before {
  content: "\e602";
}
.cancel-icon:before {
  content: "\e603";
}
.pen-icon:before {
  content: "\e604";
}
.edit-icon:before {
  content: "\e605";
}
.barbell-icon:before {
  content: "\e607";
}
.meter-icon:before {
  content: "\e606";
}
.award-fill-icon:before {
  content: "\e60b";
}
.cog-icon:before {
  content: "\e608";
}
.checkbox-checked-icon:before {
  content: "\e609";
}
.checkbox-unchecked-icon:before {
  content: "\e60a";
}
.arrow-down-icon:before {
  content: "\e60c";
}
