/* Input
 * -----------------------------------------------------------------------------*/
input[type="text"],
input[type="password"] {
  @include appearance(none);
  @include transition(border 0.25s ease-in-out);
  margin-bottom: $base-padding;
  padding: $field-padding;
  width: 100%;
  outline: 0;
  border: $base-border;
  color: $base-color;
  font-size: $base-font-size;
  &:focus {
    border: $active-border;
  }
}
input[type="checkbox"] {
  @include appearance(none);
  @include retina-image('../img/unchecked', 20px 20px);
  @include size(20px);
  @include transition(all 0.25s ease-in-out);
  margin-right: $field-padding;
  &:checked {
    @include retina-image('../img/checked', 20px 20px);
  }
}
.toggle {
  @include transition(background-color 0.25s ease-in-out);
  padding: $field-padding;
  background-color: $base-color;
  color: $foreground-color;
  cursor: pointer;
  width: 50px;
  text-align: center;
  &:hover {
    background-color: $accent-color;
  }
}
.toggle-active {
  background-color: $accent-color;
  &:hover {
    background-color: $base-color;
  }
}


 /* Button
 * -----------------------------------------------------------------------------*/
button {
  @include appearance(none);
  @include transition(background-color 0.25s ease-in-out);
  margin-bottom: $base-padding;
  padding: $field-padding;
  width: 100%;
  outline: 0;
  border: 0;
  background-color: $base-color;
  color: $foreground-color;
  font-weight: 700;
  font-size: $base-font-size;
  opacity: 1;
  &:hover {
    background-color: rgba(52, 73, 94, 0.8);;
  }
  &[type="submit"] {
    background-color: $accent-color;
    color: $foreground-color;
    &:hover {
      background-color: rgba(231, 139, 67, 0.8);;
    }
  }
}

/* Select
 * -----------------------------------------------------------------------------*/
.select-container {
  @include size(160px 40px);
  position: relative;
}
select {
  @include appearance(none);
  margin: 0;
  padding: $field-padding;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: $otherground-color;
  color: $base-color;
  font-size: $base-font-size;
  &:focus {
    border: $base-border;
  }
}
.arrow-down-icon {
  @include position(absolute, 5px 5px 0 0);
  font-size: $header-font-size;
}