table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr, td, th {
  padding: $base-padding;
  vertical-align: middle;
}

th {
  font-weight: bold;
  text-align: left;
  background-color: $otherground-color;
  span {
    display: inline-block;
    &:hover {
    cursor: pointer;
    }
  }
  .filter-arrow {
    @include retina-image('../img/select-arrow', 15px 10px);
    @include size(15px 10px);
    display: inline-block;
    margin-left: 5px;
  }
}

td {
  .icon {
    @include transition(opacity 0.25s ease-in);
    display: inline-block;
    font-size: 25px;
    color: $accent-color;
    margin-right: $field-padding;
    &:hover {
      opacity: 0.8;
      cursor: pointer;

    }
  }
}

tr {
    &:nth-child(odd) {
    background-color: $table-row-color;
  }
}
