table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  padding: $base-padding;
}

tbody {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
}

td {
}

tr, td, th {
  vertical-align: middle;
}
