/* Type elements
 * -----------------------------------------------------------------------------*/
body {
  color: $base-color;
  font-weight: 400;
  font-size: $base-font-size;
  font-family: 'Lato', sans-serif;
}

h1 { font-size: $header-font-size; }
h3 {
  padding: $base-padding;
  font-size: $title-font-size;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.box-text {
  margin: 0;
  padding: 0 $base-padding $base-padding $base-padding;
}