/* Type elements
 * -----------------------------------------------------------------------------*/
body {
  color: $base-color;
  font-weight: 400;
  font-size: $base-font-size;
  font-family: 'Lato', sans-serif;
}

h1 { font-size: $header-font-size; }
h3 {
  font-size: $title-font-size;
  padding: $base-padding;
}