// Typography
///////////////////////////////////////////////////////////////////////////////
$base-font: 'Lato', sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$grid-columns: 10;

$base-font-size: 1.125em;
$nav-font-size: 1.45em;

$base-shadow: 0 1px 5px rgba(0,0,0,0.2);

// Colors
///////////////////////////////////////////////////////////////////////////////
$base-color: rgba(52, 73, 94, 1);
$accent-color: rgba(231, 139, 67, 1);
$foreground-color: rgba(255, 255, 255, 1);
$background-color: rgba(242, 242, 242, 1);
$otherground-color: rgba(52, 73, 94, 0.1);
$footer-color: rgba(44, 62, 80, 1);