/* Left Column
 * -----------------------------------------------------------------------------*/
#history-left {
  @include span-columns(8 of 10);
  padding-left: $base-padding;
  h3 {
    display: inline-block;
  }
  .select-container {
    display: inline-block;
    float: right;
    margin: 13px $base-padding 0 0;
  }
}

/* Right Column
 * -----------------------------------------------------------------------------*/
#history-right {
  @include span-columns(2 of 10);
  .box { margin-right: 0; }
}