/* Left Column
 * -----------------------------------------------------------------------------*/
#history-left {
  @include span-columns(8 of 10);
  h3 {
    display: inline-block;
  }
  .select-container {
    display: inline-block;
    float: right;
    margin: 13px $base-padding 13px 0;
    width: 175px;
  }
}

#history-exercise-box {
  h3 {
    padding: $base-padding;
  }
}

tr {
  td {
    .no-attachment {
      color: $base-color;
    }
  }
}

/* Right Column
 * -----------------------------------------------------------------------------*/
#history-right {
  @include span-columns(2 of 10);
  .box { margin-right: 0; }
}
.goal-info {
  @include position(relative, -3px 0 0 0);
  display: inline-block;
  h4 {
    padding: 0;
  }
}