/* Left Column
 * -----------------------------------------------------------------------------*/
#today-left {
  @include span-columns(4 of 10);
}
#today-todo-box {
  h3 {
    display: inline-block;
  }
  .select-container {
    float: right;
    margin: 13px 15px 0 0;
  }
  .box-base {
    h3 {
      display: block;
      padding-bottom: $field-padding;
    }
    .box-text {
      @include position(relative, -13px 0 0 0);
      display: inline-block;
      padding-left: 0;
    }
  }
}
#badge1 {
  @include retina-image('../img/badge1', 40px 40px);
  display: inline-block;
  margin-left: $base-padding;
}

/* Center Column
 * -----------------------------------------------------------------------------*/
#today-center {
  @include span-columns(3 of 10);
}
#today-weight-box {
  h3 {
    display: inline-block;
  }
  .box-text {
    display: inline-block;
  }
  .box-base {
    h3 {
      display: block;
      padding-bottom: $field-padding;
    }
  }
}
#today-weight {
  padding: 0 $base-padding;
}

/* Right Column
 * -----------------------------------------------------------------------------*/
#today-right {
  @include span-columns(3 of 10);
  .box { margin-right: 0; }
}