/* Left Column
 * -----------------------------------------------------------------------------*/
#today-left {
  @include span-columns(4 of 10);
}
#today-todo-box {
  h3 {
    display: inline-block;
  }
  .select-container {
    float: right;
    margin-top: -5px;
  }
}

/* Center Column
 * -----------------------------------------------------------------------------*/
#today-center {
  @include span-columns(3 of 10);
}

/* Right Column
 * -----------------------------------------------------------------------------*/
#today-right {
  @include span-columns(3 of 10);
  .box { margin-right: 0; }
}