/* Left Column
 * -----------------------------------------------------------------------------*/
#today-left {
  @include span-columns(4 of 10);
}
#today-todo-box {
  h3 {
    display: inline-block;
  }
  .select-container {
    float: right;
    margin-top: -7px;
  }
  .box-base {
    h3 {
      display: block;
      padding: $base-padding $base-padding $field-padding $base-padding;
    }
    .badge-text {
      padding-bottom: $base-padding;
    }
  }
}
#today-todo-list {
  margin: 0 0 $base-padding 0;
  li {
    padding-bottom: $field-padding;
    & > div {
      @include position(relative, -4px 0 0 0);
      display: inline-block;
    }
  }
  .todo-number {
    top: 0px;
    float: right;
  }
  .today-todo-sublist {
    padding: $field-padding 0 0 34px;
    li:last-child {
      padding: 0;
    }
  }
}
.badge1 {
  @include retina-image('../img/badge1', 40px 40px);
  margin-left: $base-padding;
}

/* Center Column
 * -----------------------------------------------------------------------------*/
#today-center {
  @include span-columns(3 of 10);
}
#today-weight-box {
  h3 {
    display: inline-block;
  }
  .box-base {
    h3 {
      display: block;
      padding: $base-padding $base-padding $field-padding $base-padding;
    }
    .box-text {
      display: inline-block;
      padding-left: $base-padding;
    }
  }
}

/* Right Column
 * -----------------------------------------------------------------------------*/
#today-right {
  @include span-columns(3 of 10);
  .box { margin-right: 0; }
}
.badge2 {
  @include retina-image('../img/badge2', 40px 40px);
}
.badge3 {
  @include retina-image('../img/badge3', 40px 40px);
}