/* Left Column
 * -----------------------------------------------------------------------------*/
#weight-left {
  @include span-columns(3 of 10);

}
#weight-goal-box {
	h3 {
		margin: 0;
		display: inline-block;
	}
}
		
#weight-current-goal {
	padding: 0 0 $base-padding $base-padding;
}

#enter-weight {
	padding-left: $base-padding;
}

#add-weight-goal {
	float: right;
	cursor: pointer;
	padding: 16px $base-padding 0 0;
	color: $accent-color;
	font-size: 32px;
	font-weight: bold;
}

#weight-graph {
  @include retina-image('../img/weight-graph', 640px 301px);
  @include size(640px 301px);
  margin: 0 0 $base-padding $base-padding;
}

#graph-range-info {
  font-size: $small-font-size;
  padding: $base-padding 0 0 $base-padding;
}
  
/* Right Column
 * -----------------------------------------------------------------------------*/
#weight-right {
  @include span-columns(7 of 10);
  .box { margin-right: 0; }
}
